@import 'tailwindcss';
@import '@fontsource/cairo';
@import 'select2/dist/css/select2.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Cairo', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-dark-bg: #334155;
    --color-dark-card: #475569;
    --color-dark-border: #64748b;
    --color-dark-tableheader: #334155;
}
